.top-bar{
    min-height: 45px;
    line-height: 45px;
	padding-top: 0px;
}
.top-bar a{
    margin-right: 10px;
    font-size: 13px;
    color:#a67c00;
}
.top-bar a i{
    margin-right: 5px;
}
.top-bar .sample-1right a i{

    margin-right: 5px;
    color: #999;
    width: 20px;
    height: 25px;
    display: inline-block;
    background-color: transparent;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;

}

/*slider*/
body { padding-top: 20px; }
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}
/*slider*/

.frame-gambar{
  /*max-height: 181px;*/
  overflow:hidden;
}
.gambar{
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 100% ; /* % of width, defines aspect ratio*/  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}
.img_other{
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

.books a:hover{
	text-decoration: none !important;
}
.footer1 a{
	color: #ffffff;
}
.footer1 a:hover{
	text-decoration: none !important;
}
.footer1 h4{
	color: #ffffff;
}
.footer2 a{
    color: #ffffff;
}
.footer2 a:hover{
    text-decoration: none !important;
}

.slidernya{
	margin-top:60px;
	margin-bottom:-10px;
}

.desc_link{
    background-color:#a67c00;
    margin-top:60px;
    padding-top:15px;
    padding-bottom:5px;
    color:#ffffff;
    border-color: #808B8D; 
    border-width: 15px;
}

@media screen and (max-width:768px) {
	.slidernya{
	margin-top:25px;
	margin-bottom:-10px;
	}
	.desc_link{
    background-color:#a67c00;
    margin-top:25px;
    padding-top:15px;
    padding-bottom:5px;
    color:#ffffff;
    border-color: #808B8D; 
    border-width: 15px;
	}
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}